/* General styles */
.button {padding: 7.5px 10px; border-radius: 7.5px; text-decoration: none; transition: .3s; text-align: center;}
.button.button-general {background-color: #f2bd54; color: #4d0026; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12); border: none;}
.button.button-general:hover {color: #e9e9e9; box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2),0 3px 8px 0 rgba(0,0,0,0.19);}
.box-shadow {box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
/* Scheme show section */
section.scheme-show {display: flex; min-height: calc(100% - 30px); padding-top: 30px}
section.scheme-show section.sidebar {flex: 1; margin: 20px; border-radius: 10px; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),0 3px 3px 0 rgba(0,0,0,0.7);}
section.scheme-show section.content {flex: 1.8; padding: 25px 25px 25px 40px;}

section.scheme-show section.sidebar {width: 500px; min-height: 100%; background-color: #4d0026;}
section.scheme-show section.sidebar .back-arrow {position: absolute; margin-left: 20px; margin-top: 50px; font-size: 30px; transition: 0.5s; color: white;}
section.scheme-show section.sidebar .back-arrow:hover {transform:scale(1.15); color: #f2bd54;}
section.scheme-show section.sidebar h1 {padding-left: 70px; margin-top: 35px; margin-bottom: 5px; font-size: 30px; color: white;}
section.scheme-show section.sidebar h2 {margin-top: 0px; padding-top: 0; margin-bottom: 15px; padding-left: 70px; font-size: 26px; color: #f2bd54;}
section.scheme-show section.sidebar hr {margin-bottom: 15px; border: none; height: 0.5px; background-color: #eee}
section.scheme-show section.sidebar h3 {padding: 0 20px 20px 20px; font-size: 17px; color: white;}
section.scheme-show section.sidebar h4 {color: #f2bd54; font-size: 15px; margin: 15px 0 0 0; padding-left: 20px;}
section.scheme-show section.sidebar hr.section {margin: 10px 0 20px 20px;}
section.scheme-show section.sidebar img.map {margin: 0 0 0 40px; width: calc(100% - 40px);}
section.scheme-show section.sidebar ul.links {padding-left: 40px; padding-top: 5px; height: 50px;}
section.scheme-show section.sidebar ul.links li {display: inline-block; transition: 0.3s; margin-right: 10px;}
section.scheme-show section.sidebar ul.links li:hover {transform: scale(1.05);}
section.scheme-show section.sidebar ul.links li a {color: white; list-style: none; text-decoration: none; border: 1px solid white; padding: 10px; border-radius: 0.5em;}

section.scheme-show section.content h1 {color: #4d0026; font-size: 30px; font-weight: 600; display: inline-block; vertical-align: super; margin: 0;}
section.scheme-show section.content .segmented-control-container {display: inline-block; width: 300px; height: 30px; margin-left: 20%;}

section.scheme-show section.content .add-vision {margin-top: 12px; float: right;}
section.scheme-show section.content hr {width: calc(100% + 25px); margin-top: 15px;}
section.scheme-show section.content h3 {margin: 10px 10px 30px; color: black; font-size: 16px;}
section.scheme-show section.content ul li {list-style-type: none;}

section.scheme-show section.content .library_card {display: inline-block; width: 350px; margin: 0 30px 30px 0; line-height: 1.42857143; background-color: #fff; border-radius: 10px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); transition: box-shadow .25s; color: black;}
section.scheme-show section.content .library_card:hover {box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);}
section.scheme-show section.content .library_card .card-image {width: 350px; height: 200px; border-top-left-radius: 10px; border-top-right-radius: 10px; display: block; overflow: hidden;}
section.scheme-show section.content .library_card .card-image img {width: 350px; height: 200px; object-fit: cover; transition: all .25s ease; object-position: 50% 5%;}
section.scheme-show section.content .library_card .content {padding: 5px 15px 15px 15px; text-align: left;}
section.scheme-show section.content .library_card .content .likes {float: right;}
section.scheme-show section.content .library_card .content .likes i {color: #fe2645; padding-right: 5px;}
section.scheme-show section.content .library_card .content .likes p {color: black; display: inline-block; margin: 5px 0 0 0;}
section.scheme-show section.content .library_card .content h4 {font-size: 25px; margin: 0 0 5px 0;}
section.scheme-show section.content .library_card .content h5 {font-size: 17px; margin: 0 0 4px 0;}
section.scheme-show section.content .library_card .content p {font-size: 15px;}
section.scheme-show section.content .library_card .title {margin-top: 0px; font-weight: 700; font-size: 1.65em;}
section.scheme-show section.content .library_card .title a {color: #000; text-decoration: none;}
section.scheme-show section.content .library_card .read-more {display: flex; padding: 10px 10px 10px 20px; border-top: 1px solid #d4d4d4;}
section.scheme-show section.content .library_card .read-more .comment-count {flex: 0.8;}
section.scheme-show section.content .library_card .read-more .comment-count i, .library_card .read-more .share i {padding-right: 7.5px;}
section.scheme-show section.content .library_card .read-more .share {flex: 0.7;}
section.scheme-show section.content .library_card .read-more .details {flex: 2; text-align: right;}
section.scheme-show section.content .library_card .read-more p {display: inline-block; margin: 0;}
section.scheme-show section.content .library_card .read-more .details a {text-decoration: none; color: black; padding: 5px 7.5px; border: 1px solid grey; border-radius: .4em; transition: 0.5s;}
section.scheme-show section.content .library_card .read-more .details a:hover {background-color: #4d0026; color: white;}

/* Vision list + discussion */
section.vision {display: flex; min-height: 100%; padding-top: 30px}
section.vision section.map {flex: 1.8;}
section.vision section.map .map-header {margin: 20px; border-radius: 10px; background-color: #4d0026; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),0 3px 3px 0 rgba(0,0,0,0.7);}
section.vision section.discussion {flex: 1; color: black;}

section.vision section.map #leaflet {height: 500px; width: calc(100% - 40px); margin: 20px 20px 15px 20px; border-radius: 10px; z-index: 500; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.7);}
section.vision section.map .leaflet-marker-icon.leafletFontAwesomeIcon .fa-stack-1x {top: -9px; transform: scale(0.9);}

section.vision section.map .map-header i.back-arrow {display: inline-block; font-size: 25px; margin-left: 15px; transition: 0.5s; color: white; vertical-align: super;}
section.vision section.map .map-header i.back-arrow:hover {transform: scale(1.1); color: #f2bd54;}
section.vision section.map .map-header h1 {margin: 17.5px 0 0 25px; font-size: 35px; display: inline-block; color: white;}
section.vision section.map .likes {float: right; margin-top: 5px; margin-right: 35px; font-size: 25px;}
section.vision section.map .likes i {color: #fe2645; padding-right: 10px;}
section.vision section.map .map-header hr {margin: 15px 0; margin-bottom: 5px; border: none; height: 0.5px; background-color: #eee; width: 100%;}
section.vision section.map p {color: white; display: inline-block;}
section.vision section.map .map-header hr {margin: 20px 0;}
section.vision section.map .map-header h2 {color: #f2bd54; padding-left: 50px; margin: 0 0 2.5px 0; font-size: 30px;}
section.vision section.map .map-header h3 {color: white; padding-left: 50px; margin: 0 0 12.5px 0;}
section.vision section.map .map-header h4 {color: white; padding-left: 50px; max-width: 50%; font-size: 15px; margin: 0 0 15px; padding-bottom: 15px;}
section.vision section.map p.description {margin: 10px 0 10px 50px;}

section.vision section.map .questions i {margin-left: 15px;}
section.vision section.map .questions {margin: 10px 20px; border-radius: 10px; background-color: #4d0026; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.7);}
section.vision section.map .questions h2 {margin-bottom: 0; margin-top: 10px; padding-top: 15px; color: white;}
section.vision section.map .questions h4 {color: #eee; max-width: 90%; font-size: 15px; margin: 10px 0 0 50px;}

section.vision section.discussion h1 {margin: 47.5px 0 22px 20px; font-size: 30px;}
section.vision section.discussion a.share {float: right; margin: 45px 30px 0 0; cursor: pointer;}
section.vision section.discussion .discussion-content {padding: 25px 25px 25px 35px;}
section.vision section.discussion .discussion-content h5 {margin: 0;}
section.vision section.discussion h4 {display: inline-block; margin: 25px 0 15px; color: #f2bd54; font-size: 25px;}
section.vision section.discussion .comment-count {display: inline-block; margin-left: 50px;}
section.vision section.discussion .comment-count i {margin-right: 5px;}
section.vision section.discussion .comment-count p {display: inline-block; margin: 0;}
section.vision section.discussion .discussion-header h5 {display: inline-block; margin: 10px 7.5px; padding: 5px; border-radius: 10px;}
section.vision section.discussion .discussion-header h5:hover {background-color: #eee;}
section.vision section.discussion .discussion-header>i {transition: .5s;}
section.vision section.discussion .discussion-header>i.rotated {transform: rotate(-90deg);}
section.vision section.discussion .discussion-header .answer {margin: 0 30px; font-size: 17px;}
section.vision section.discussion .discussion-header .answer p {margin: 0;}
section.vision section.discussion .discussion-header .answer p.author {display: inline-block; margin: 10px 0 0 0; font-size: 14px;}
section.vision section.discussion .discussion-header .answer p.timestamp {display: inline-block; font-size: 10.5px; margin: 0;}
section.vision section.discussion .discussion-header .answer input {display: block; margin: 10px 0; width: 100%; line-height: 30px; border-radius: .5em; padding: 2.5px 5px;}
section.vision section.discussion .new-topic {margin: 20px 0; border: 1px solid transparent; transition: 0.3s; display: inline-block; padding: 7.5px; border-radius: 0.3em;}
section.vision section.discussion .new-topic p {display: inline-block; margin: 0;}
section.vision .newDiscussion {display: none; position: absolute; top: 30%; left: 45%; width: 300px; box-shadow: 0 8px 17px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.7); padding: 25px; background: white; border-radius: .5em;}
section.vision .newDiscussion .closeModal {float: right; margin: 0;}
section.vision .newDiscussion hr {margin-left: -25px; width: calc(100% + 50px);}
section.vision .newDiscussion i {margin-right: 10px;}
section.vision .newDiscussion input {width: calc(100% - 25px); height: 30px; padding: 5px 10px; border-radius: .3em;}
section.vision .newDiscussion .createNewDiscussion {float: right; padding: 5px 10px; margin-top: 25px; border: 1px solid #4d0026; color: #4d0026; border-radius: .3em; text-decoration: none}
section.vision .newDiscussion .createNewDiscussion:hover {background-color: #4d0026; color: white;}

/* Builder interface */
section.builder {display: flex; min-height: 100%; padding-top: 30px}
section.builder form {display: none;}
section.builder section.map {flex: 2.1; }
section.builder section.map .map-header {margin: 20px 20px 10px; border-radius: 10px; background-color: #4d0026; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),0 3px 3px 0 rgba(0,0,0,0.7);}
section.builder section.toolbox {flex: 1; color: black; margin-left: 15px;}
section.builder section.map .untitled {opacity: 0.5;}

section.builder section.map .map-header i.back-arrow {display: inline-block; font-size: 25px; margin-left: 15px; transition: 0.5s; color: white; vertical-align: super;}
section.builder section.map .map-header i.back-arrow:hover {transform: scale(1.1); color: #f2bd54;}
section.builder section.map .map-header h1 {margin: 17.5px 0 0 25px; font-size: 35px; display: inline-block; color: white;}
section.builder section.map .map-header button.publish {float: right; margin: 0; margin: 17.5px 20px; font-size: 16px; border: none;}
section.builder section.map .map-header hr {margin: 15px 0; margin-bottom: 15px; border: none; height: 0.5px; background-color: #eee}
section.builder section.map .map-header h3 {color: #eee; padding-left: 20px; margin: 10px 12.5px 0 30px;}
section.builder section.map .map-header h2 {color: #eee; padding-left: 5px; margin: 0 10px 2.5px 45px; font-size: 30px; max-width: 90%;}
section.builder section.map .map-header h4 {color: #eee; margin: 15px 10px 10px 50px; min-height: 60px;}
section.builder section.map .untitled:before {font-family: 'Font Awesome 5 Free'; position: relative; top: 0; left: 0; content:'\f303';}
section.builder section.map h2 {color: #4d0026; margin-left: 20px;}
section.builder section.map .questions {margin: 10px 20px; border-radius: 10px; background-color: #4d0026; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.7);}
section.builder section.map .questions h2 {margin-bottom: 0; margin-top: 10px; padding-top: 15px; color: white;}
section.builder section.map .questions h4 {color: #eee; max-width: 90%; font-size: 15px; margin: 10px 0 0 50px;}
section.builder section.map p {color: #eee; display: inline-block;}
section.builder section.map p.description {margin: 10px 0 10px 50px; color: #eee;}
section.builder section.map #leaflet {height: 500px; width: calc(100% - 40px); margin: 0 20px; border-radius: 10px; z-index: 500; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 3px 3px 0 rgba(0, 0, 0, 0.7);}
section.builder section.map #leaflet .geocoder {position: absolute; z-index: 20001; height: 50px; top: 10px; right: 10px;}
section.builder section.map #leaflet .geocoder button.geocoder-button {display: inline-block; position: absolute; right: 0; height: 40px; width: 40px; border-radius: 10px; border: none; font-size: 18px; background-color: white;}
section.builder section.map #leaflet .geocoder button.geocoder-button:hover {background-color: #eee;}
section.builder section.map #leaflet .geocoder input {position: absolute; right: 0; border-radius: 10px; padding: 10px; width: 20px; margin: 0; border: none; display: inline-block;}

section.builder section.map #leaflet .leafletInstructions {position: relative; z-index: 2000; width: 100%; height: 100%; backdrop-filter: blur(2px) saturate(100%) contrast(45%) brightness(70%); -webkit-backdrop-filter: blur(2px) saturate(100%) contrast(45%) brightness(70%); display: flex; object-position: center; flex-direction: column; align-items: center; justify-content: center; transition: all 0.5s ease; padding: 20px; }
section.builder section.map #leaflet .leafletInstructions.hidden {display: none;}
section.builder section.map #leaflet .leafletInstructions .content {animation: pulse 4s ease infinite; display: block;}
section.builder section.map #leaflet .leafletInstructions h1 {color: #f2bd54; margin-bottom: 15px; }
section.builder section.map #leaflet .leafletInstructions p {display: block; margin: 0 auto 10px; text-align: left; color: #eee}

section.builder section.map #leaflet .deleteTarget {position: relative; z-index: 2000; width: 100%; height: 100%; display: flex; object-position: center; flex-direction: column; align-items: center; justify-content: end; transition: all 0.5s ease; padding: 20px; background: rgb(255, 255, 255); background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 32%);}

section.builder section.map #leaflet .deleteTarget .content {animation: pulse 4s ease infinite; display: block; position: absolute; bottom: 55px;}
section.builder section.map #leaflet .deleteTarget .content:hover {transform: scale(1.1);}
section.builder section.map #leaflet .deleteTarget .content i {border: 2px solid black; padding: 10px; border-radius: 10px;}

section.builder section.map .leaflet-marker-icon.leafletFontAwesomeIcon .fa-stack-1x {top: -9px; transform: scale(0.9);}
@keyframes pulse {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1);}
}

/* Geocoder autocomplete */
.ui-autocomplete-loading + .loader {display: inline-block;}
.ui-autocomplete {background-color: white; width: 200px; list-style: none; margin-left: 0; padding-left: 0; border-radius: 10px; z-index: 9999;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li:first-child a {padding-top: 9px;}
.ui-autocomplete li a {padding: 5px 15px 3px; display: block; color: #4d0026;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #fbf6f8; border-radius: 10px;}
.ui-helper-hidden-accessible {display: none;}

/* Toolbox */
section.builder section.toolbox h2 {display: inline-block; margin: 35px 0 10px; color: #4d0026; font-size: 35px;}
section.builder section.toolbox h5 {cursor: pointer;}
section.builder section.toolbox>p {padding-right: 25px;}
section.builder section.toolbox .padded-content {padding: 0 25px 25px 20px;}
section.builder section.toolbox .padded-content h5 {margin: 0;}
section.builder section.toolbox .toolbox-header>i {transition: .5s;}
section.builder section.toolbox .toolbox-header>i.rotated {transform: rotate(-90deg);}
section.builder section.toolbox .toolbox-header h5 {display: inline-block; margin: 10px 7.5px; padding: 5px; border-radius: 10px;}
section.builder section.toolbox .toolbox-header h5:hover {background-color: #eee;}
section.builder section.toolbox .toolbox-header .group-contents {margin: 0 15px; padding: 0; font-size: 17px;}
section.builder section.toolbox .toolbox-header .group-contents ul {list-style: none; padding: 0; display: flex; align-items: center; flex-wrap: wrap;}
section.builder section.toolbox .toolbox-header .group-contents ul li {border-radius: .7em; display: inline-block; padding: 10px; margin: 5px; cursor: pointer; width: 100px; height: 90px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); transition: box-shadow .25s;}
section.builder section.toolbox .toolbox-header .group-contents ul li:hover {box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); color: #4d0026;}
section.builder section.toolbox .toolbox-header .group-contents ul li i {font-size: 50px; display: block; margin: 0 auto; text-align: center;}
section.builder section.toolbox .toolbox-header .group-contents ul li p {display: block; font-size: 12px; text-align: center; min-height: 28px;}

section.builder section.toolbox .toolbox-card {position: fixed; bottom: 0; right: 10px; width: calc(100vw / 3.5); background-color: #4d0026; border-top-left-radius: .4em; border-top-right-radius: .3em; padding: 10px 25px; box-shadow: 0 5px 4px 0 rgba(0,0,0,0.4),0 6px 20px 0 rgba(0,0,0,0.3);}
section.builder section.toolbox .toolbox-card .close-card {float: right; margin: 5px 0; padding: 10px 5px; color: white;}
section.builder section.toolbox .toolbox-card i.icon {margin-right: 10px; color: #f2bd54;}
section.builder section.toolbox .toolbox-card h1 {color: #f2bd54; display: inline-block; margin-bottom: 0;}
section.builder section.toolbox .toolbox-card p {color: white; text-align: left;}
section.builder section.toolbox .toolbox-card h2 {font-size: 13px;}

/* Popover content */
.tpd-skin-dark, .tpd-content {border-radius: 10px;}
.tpd-content p {font-size: 16px;}
.tpd-content input {display: block; width: 97%; margin-bottom: 20px; border-radius: 5px; padding: 5px; border: none; background-color: #eee;}
.tpd-content a {text-decoration: none !important; float: right;}
.tpd-content h1 {margin-top: 0;}
.tpd-content hr {margin-left: -15px; width: calc(100% + 28px);}
.tpd-content textarea {width: 100%; border-radius: 5px; padding: 5px; border: none; background-color: #eee;}
.tpd-content .close-popup {float: right;}
.tpd-content .delete-button {box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12); border: none; float: left; margin: 0 10px;}
.tpd-content .delete-button:hover {background-color: #eee;}
.tpd-content i.exit-popup {position: absolute; top: 10px; right: 10px; border: 1px solid transparent; border-radius: 50%; padding: 5px;}
.tpd-content i.exit-popup:hover {background-color: #eee; color: #f2bd54;}

#puff {cursor: pointer; display: none; position: absolute; height: 32px; width: 32px; background-image: url('/schemes/images/poof.png'); background-repeat: no-repeat; z-index: 99999;}

/* Popover overrides */
.tpd-size-huge .tpd-content, .tpd-size-huge .tpd-title {padding: 15px; font-size: 15px; line-height: 20px; min-width: 300px; min-height: 200px;}
.tpd-size-huge .tpd-background {border-radius: 10px;}
.tpd-size-huge .tpd-stem {width: 24px; height: 12px;margin-left: 8px; margin-top: 2px;}
.tpd-size-huge.tpd-no-radius .tpd-stem {margin-left: 10px;}
.tpd-size-huge .tpd-close {margin: 11px 5px 11px 5px;}
.tpd-size-huge .tpd-close-icon {font-size: 32px;}
.tpd-size-huge .tpd-spinner {width: 66px; height: 50px;}
.tpd-size-huge .tpd-spinner-spin {margin: 14px 0 0 22px;}
.tpd-size-huge .tpd-spinner-spin, .tpd-size-huge .tpd-spinner-spin:after {width: 22px; height: 22px;}

/* Modal */
.modalBackground {display: none;}
.modalBackground .modalContent {display: flex; position: absolute; top: 0; width: 100%; height: 100%; background-color: rgba(51, 51, 51, 0.7); z-index: 9999; flex-direction: column; align-items: center; justify-content: center;}
.modalBackground .modal {display: block; margin: auto;  width: 500px; border-radius: 15px; background-color: white;  padding: 20px;}
.modalBackground .modal h1, .modalBackground .modal i {color: #4d0026;}
.modalBackground .modal hr {margin-left: -20px; width: calc(100% + 38px);}
.modalBackground .modal p {display: inline-block;}
.modalBackground .modal a.button-general {display: block; float: right; width: 50px; margin-top: 20px;}
.modalBackground .modal input {width: 100%; margin: 10px 0;}


/* Schemes list */
section.schemes-list {padding-top: 20px; }
section.schemes-list .header {background-color: #4d0026; color: white; padding: 20px 70px 0; margin: 20px 60px 0; border-radius: 10px; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),0 3px 3px 0 rgba(0,0,0,0.7);}
section.schemes-list .header .flex {display: flex;}
section.schemes-list .header .title-block {flex: 1;}
section.schemes-list .header .title-block h1 {font-size: 40px; margin: 20px 40px 0 0;}
section.schemes-list .header .title-block h2 {color: #f2bd54; margin: 10px 0;}
section.schemes-list .header .description-block {flex: 2.5; margin-top: 10px; margin-right: 60px;}
section.schemes-list .header hr {margin-left: -70px; margin-top: 20px; margin-bottom: 0; width: calc(100% + 140px); }
section.schemes-list .header .header-controls {display: flex; padding: 25px 0;}
section.schemes-list .header .header-controls .new-scheme {flex: 1; padding-top: 10px;}
section.schemes-list .header .header-controls .new-scheme .new-scheme-button {width: 100px; padding: 7.5px 10px;}
section.schemes-list .header .header-controls .segmented-control {flex: 1;}
section.schemes-list .header .header-controls .segmented-control .ios-segmented-control {margin: 0;}
section.schemes-list .header .header-controls .search-bar {flex: 1; padding-left: 50px;}
section.schemes-list .header .header-controls .search-bar input {border-radius: 7.5px; width: 100%; background-color: #4d0026; color: grey; height: 34px; padding: 2px 10px 2px 37px; -webkit-appearance: none; box-shadow: none; border: 1px solid grey; transition: .2s;}
section.schemes-list .header .header-controls .search-bar input:focus {background-color: #e7e6e4; color: #4d0026;}
section.schemes-list .header .header-controls .search-bar i {position: absolute; margin: 0; padding: 0; top: 31px; left: 12px;}

section.schemes-list .card {display: inline-block; width: 350px; margin: 0 30px 30px 0; line-height: 1.42857143; background-color: #fff; border-radius: .7em; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); transition: box-shadow .25s; color: black;}
section.schemes-list .card:hover {box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);}
section.schemes-list .card .post-code {position: absolute; border-radius: 100%; background-color: #f2bd54; margin: -48px 115px; color: #4d0026; width: 100px; height: 100px; display: flex; align-items: center; justify-content: center; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
section.schemes-list .card .card-image {width: 350px; height: 200px; border-top-left-radius: .7em; border-top-right-radius: .7em; display: block; overflow: hidden;}
section.schemes-list .card .card-image img {width: 350px; height: 200px; object-fit: cover; transition: all .25s ease; object-position: 50% 5%;}
section.schemes-list .card .content {padding: 5px 15px 15px 15px; text-align: left;}
section.schemes-list .card .content .likes {float: right;}
section.schemes-list .card .content .likes i {color: #f2bd54; padding-right: 5px;}
section.schemes-list .card .content .likes p {color: black; display: inline-block; margin: 5px 0 0 0;}
section.schemes-list .card .content h4 {font-size: 25px; margin: 60px 0 5px 0;}
section.schemes-list .card .content h5 {font-size: 17px; margin: 0 0 4px 0;}
section.schemes-list .card .content p {font-size: 15px;}
section.schemes-list .card .title {margin-top: 0px; font-weight: 700; font-size: 1.65em;}
section.schemes-list .card .title a {color: #000; text-decoration: none;}
section.schemes-list .card .read-more {border-top: 1px solid #d4d4d4; background-color: #4d0026; color: white; border-bottom-left-radius: .7em; border-bottom-right-radius: .7em; transition: .5s;}
section.schemes-list .card .read-more:hover {color: #4d0026; background-color: white;}
section.schemes-list .card .read-more a {text-decoration: none; display: block; margin: 0 auto; text-align: center; font-size: 18px; color: white; padding: 15px;}
section.schemes-list .card .read-more a:hover {color: #4d0026;}

section.schemes-list section.schemes {padding: 20px 30px;}
section.schemes-list section.schemes ul {display: flex; flex-wrap: wrap; justify-content: center;}
section.schemes-list section.schemes ul li {text-decoration: none; list-style-type: none; display: inline-block;}


/* Scheme add */
section.scheme-add {padding-top: 20px;}
section.scheme-add .header {background-color: #4d0026; color: white; padding: 10px 70px 0; margin: 40px 100px 10px; border-radius: 10px; box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),0 3px 3px 0 rgba(0,0,0,0.7);}
section.scheme-add .header .flex {display: flex;}
section.scheme-add .header .title-block {flex: 0.7;}
section.scheme-add .header .title-block h1 {font-size: 40px; margin: 20px 40px 0 0;}
section.scheme-add .header .title-block h2 {color: #f2bd54; margin: 10px 0 30px;}
section.scheme-add .header .description-block {flex: 1; margin-top: 25px; margin-right: 60px;}
section.scheme-add .header .new-scheme {flex: 0.5; margin: 50px 20px 0 0; vertical-align: bottom;}
section.scheme-add .header .new-scheme .new-scheme-button {width: 100px; display: block; margin: 15px auto; text-align: center;}
section.scheme-add {background-image: url('/schemes/images/cyclepath.jpg'); background-repeat: no-repeat; background-size: cover; height: 100%;}
section.scheme-add .form {display: flex; object-position: center; flex-direction: column; align-items: center; justify-content: center;}
section.scheme-add .form .content {width: auto; padding: 10px 70px; border-radius: 10px;margin: 20px auto; backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(150%); -webkit-backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(150%);}
section.scheme-add .form input, section.scheme-add .form textarea {width: 100%;}
section.scheme-add .form input.button {width: 100px;}

/* Segmented control */
.ios-segmented-control {background: #E7E6E4; border-radius: 10px; margin: 10px; padding: 2px; border: none; outline: none; display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.ios-segmented-control .option {position: relative; cursor: pointer;}
.ios-segmented-control .option:hover input:not(:checked) + label span, .ios-segmented-control .option:active input:not(:checked) + label span, .ios-segmented-control .option:focus input:not(:checked) + label span {transform: scale(1.1);}
.ios-segmented-control .option:active input:not(:checked) + label span {transform: scale(.95);}
.ios-segmented-control .option label {position: relative; display: block; text-align: center; padding: 3px 0vmin; background: rgba(255,255,255,0); font-weight: 500; color: black; font-size: 16px; height: 30px; line-height: 30px; text-overflow: clip; overflow: hidden;}
.ios-segmented-control .option label::before, .ios-segmented-control .option label::after {content: ''; width: 1px; background: rgba(142,142,147,.15); position: absolute; top: 14%; bottom: 14%; will-change: background; -webkit-transition: background .3s ease; transition: background .3s ease;}
.ios-segmented-control .option label::before {left: 0; transform: translateX(-.5px);}
.ios-segmented-control .option label::after {right: 0; transform: translateX(.5px);}
.ios-segmented-control .option:first-of-type {grid-column: 1; grid-row: 1; box-shadow: none;}
.ios-segmented-control .option:first-of-type label::before {opacity: 0;}
.ios-segmented-control .option:last-of-type label::after {opacity: 0;}
.ios-segmented-control .option input {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 0; margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border: none; opacity: 0;}
.ios-segmented-control .selection {background: #F2BD54; border: .5px solid rgba(0,0,0,0.04); box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); border-radius: 10px; grid-column: 1; grid-row: 1; z-index: 2; will-change: transform; -webkit-transition: transform .2s ease; transition: transform .2s ease;}
.ios-segmented-control .option label span {display: block; position: relative; z-index: 2; -webkit-transition: all .2s ease; transition: all .2s ease; will-change: transform;}
.ios-segmented-control .option input:checked+label::before, .ios-segmented-control .option input:checked+label::after {background: var(--background);z-index: 1;}
.ios-segmented-control .option input:checked+label {cursor: default;}
